<!--
  Generated template for the Pagina3Page page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>
	<ion-navbar color="primary">
		<button ion-button menuToggle icon-only>
			<ion-icon name='menu'></ion-icon>
		</button>
		<ion-title>
			Registros
		</ion-title>
	</ion-navbar>

</ion-header>


<ion-content padding>
	<div class="segment" margin-bottom>
		<ion-segment [(ngModel)]="selectedSon" color="primary" *ngIf="userData">
			<ion-segment-button [value]="i + 1" *ngFor="let hijo of userData?.hijos;let i = index" disabled="{{!hijo.valido}}">
				{{ hijo.nombre }}
			</ion-segment-button>
		</ion-segment>
	</div>

	<div *ngIf="selectedSon; else emptyMessage">
		<ng-container *ngFor="let hijo of userData?.hijos; let i = index">
			<ng-container *ngIf="selectedSon - 1 == i">
				<son [sonData]="userData.hijos[selectedSon - 1]"></son>
			</ng-container>
		</ng-container>
	</div>

	<ng-template #emptyMessage>
		<div class="message">
			<!-- <h1>Selecciona un alumno</h1> -->

			<h2 *ngIf="userData?.notificaciones?.length > 0">Notificaciones</h2>
			<div class="notificaciones">
				<ion-card *ngFor="let notification of userData?.notificaciones ">
					<ion-card-header>
						{{ notification.titulo}}
					</ion-card-header>
					<ion-card-content>
						<small>{{ notification.fecha }} </small>
						<br> {{ notification.aviso}}
					</ion-card-content>
				</ion-card>
				<!--  -->
				<div *ngIf="userData?.notificaciones.length == 0">
					<h3 margin-top text-center>Sin notificaciones</h3>
				</div>
			</div>

		</div>

	</ng-template>


</ion-content>