<ion-content padding>
  <div class="contenedor">
    <ion-col class="centrado">

      <form (ngSubmit)="onSubmit()" [formGroup]="signupForm">
      <ion-list>

          <ion-item>
            <ion-label floating>Usuario</ion-label>
            <ion-input type="text" [(ngModel)]="login.usr" name="usr" formControlName="usr"></ion-input>
          </ion-item>

          <ion-item>
            <ion-label floating>Password</ion-label>
            <ion-input type="password" [(ngModel)]="login.pword" name="pword" formControlName="pword"></ion-input>
		  </ion-item>

		<ion-item *ngIf="signupForm.controls.usr.hasError('required') && signupForm.controls.usr.touched">
			<p>El campo Usuario es requerido</p>
		</ion-item>
		<ion-item *ngIf="signupForm.controls.pword.hasError('required') && signupForm.controls.pword.touched">
			<p>El campo Contraseña es requerido</p>
		</ion-item>
        </ion-list>

        <div padding>
          <button ion-button block>Sign In</button>
        </div>
      </form>
    </ion-col>
  </div>

</ion-content>
