<!-- Generated template for the SonComponent component -->
<div>
  <div class="calendar-header">
    <ion-icon name="arrow-back" (click)="previousMonth()"></ion-icon>
    <h1>{{ viewTitle }}</h1>
    <ion-icon name="arrow-forward" (click)="nextMonth()"></ion-icon>
  </div>

  <!-- <ng-template #template let-view="view" let-row="row" let-col="col">
    <div [ngClass]="getCustomClass(view.dates[row*7+col].events)">{{view.dates[row*7+col].label}} </div>
	</ng-template> -->
	
	<ng-template #templateEvent let-showEventDetail="showEventDetail" let-selectedDate="selectedDate" let-noEventsLabel="noEventsLabel">
		
		<div *ngIf="selectedDate.events.length > 0">			
			<ion-list>
					<ion-item>
							Entrada: {{ selectedDate.events[0].startTime | date: 'HH:mm' }}
					</ion-item>
					<ion-item>
							Salida: {{ selectedDate.events[0].endTime === '' ? 'No registrada' : (selectedDate.events[0].endTime | date: 'HH:mm') }}
					</ion-item>
				</ion-list>
		</div>

		<div *ngIf="selectedDate.events.length == 0">
			
			<ion-list>
				<ion-item>
						{{ noEventsLabel }}
				</ion-item>
			</ion-list>
		</div>
		
	</ng-template>

	<calendar [eventSource]="eventSource" [calendarMode]="calendar.mode" 
		[currentDate]="calendar.currentDate" (onCurrentDateChanged)="onCurrentDateChanged($event)"
    (onEventSelected)="onEventSelected($event)" (onTitleChanged)="onViewTitleChanged($event)"
		(onTimeSelected)="onTimeSelected($event)" step="30" [locale]="calendar.locale"
		[monthviewEventDetailTemplate]="templateEvent"
		[noEventsLabel]="'Sin actividad'" [lockSwipes]="lockSwipes">
  </calendar>
</div>